torch
torchaudio
fastapi
uvicorn[standard]
click
sse-starlette
python-multipart
numpy
pyyaml
soundfile
tqdm
einops
rotary_embedding_torch
packaging
beartype>=0.17
librosa
imageio-ffmpeg
certifi
mutagen
