torch
fastapi
uvicorn[standard]
python-multipart
numpy
pyyaml
soundfile
einops
rotary_embedding_torch
packaging
beartype>=0.17
librosa
imageio-ffmpeg
certifi
mutagen
pywebview
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-WebKit
